body {
	main {
		max-width: 700px;
	}

	.bigImage {
		border-radius: 17px;
		width:100%;*/
	}

	.link {
		height: 0.8em;
	}

	#header {
		text-transform: uppercase;
	}

	#subHeader {
		/*text-transform: uppercase;*/
	}
}